<% statnames = BatStatline.columns.map(&:name).rotate(-2).drop(4) %>

<h1> <%= @bat.name %> </h1>
<h4>updated on <%= @bat.created_at %> </h4>

<%= render partial: "partials/stat_table",
           locals:{ statnames: statnames,
                    collection: @bat.statlines,
                    leader_stat: :created_at,
                    ender_stat: false,
                    slug: "bats" }  %>
